#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.tabsOuter{
  width: 1170px;
  margin: auto;
}
.tabsOuter ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
  gap: 10px;
  display: flex;
}
.tabsOuter ul li button{
  background: rgb(173, 172, 172);
  border: none;
  color: #251e1e;
  cursor: pointer;
  padding: 0.5rem 20px;
  margin-right: 18px;
  font-weight: 600;
}

.activeButton{
  color: white !important;
  background-color: red !important;
}


